<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Consulta</title>
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
    <link href="Form.css" rel="stylesheet">
    <link href="input.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <a class="linkInicio" href="Consultas.html"> Voltar</a><br>
    <div class="box">
        <h2>Cadastro de Consulta</h2>
        
        <form action="..\Controller\CadastrarConsulta.php" method="POST">
            ID: <input type="text" name="cid" required><br><br>
            Data: <input type="datetime-local" name="cdata"><br><br>
            CPF do Cliente: <input type="text" name="ccpf" required><br>
            CPF do Terapeuta: <input type="text" name="ccrp" required><br>


            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar Campo">
        </form>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade </p>
    </footer>

</body>
</html>