<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Clientes</title>
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="box">
        <h1>Gerenciamento de Clientes</h1><br>
        <a class="link" href="CadastrarCliente.html"> Cadastrar Cliente</a><br>
        <a class="link" href="..\Controller\ConsultarTodosClientes.php"> Consultar Todos Clientes</a><br>
        <a class="link" href="..\View\ConsultarClienteCpf.html"> Consultar Cliente por CPF</a><br>
        <a class="link" href="..\View\AlterarCliente.html"> Alterar Dados do Cliente por CPF</a><br>
        <a class="link" href="..\View\ExcluirCliente.html"> Excluir Cliente por CPF</a><br>
        <a class="link" href="..\Index.html"> Voltar ao Inicio</a>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade </p>
    </footer>
    
</body>
</html>