<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Consultas</title>
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="box">
        <h1>Gerenciamento de Consultas</h1><br>
        <a class="link" href="CadastrarConsulta.html"> Cadastrar Consultas</a><br>
        <a class="link" href="..\Controller\ListarConsultas.php"> Listar Consultas</a><br>
        <a class="link" href="..\View\ListarConsultaCpf.html"> Listar Consulta por CPF</a><br>
        <a class="link" href="..\View\ListarConsultaCrp.html"> Listar Consulta por CRP</a><br>
        <a class="link" href="..\View\AlterarConsulta.html"> Alterar Consulta por Identificador</a><br>
        <a class="link" href="..\View\ExcluirConsulta.html"> Excluir Consulta por Identificador</a><br>
        <a class="link" href="..\Index.html"> Voltar ao Inicio</a>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade </p>
    </footer>
    
</body>
</html>