<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
    <link href="Form.css" rel="stylesheet">
    <link href="input.css" rel="stylesheet">
    

</head>
<body>

    <div class="container">
        <a class="linkInicio" href="Consultas.html"> Voltar</a><br>
    <div class="box">
        <h2>Excluir Consulta por ID</h2>
        
        <form action="..\Controller\ExcluirConsulta.php" method="POST">
            ID: <input type="text" name="cid" required><br><br>

            <input type="submit" value="Excluir">
            <input type="reset" value="Limpar Campo">
        </form>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade</p>
    </footer>
</body>
</html>