<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Listar Consulta por CRP</title>
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
    <link href="Form.css" rel="stylesheet">
    <link href="input.css" rel="stylesheet">

</head>
<body>

    <div class="container">
        <a class="linkInicio" href="Consultas.html"> Voltar</a><br>
    <div class="box">
        <h2>Listar Consulta por CRP</h2>
        
        <form action="..\Controller\ListarConsultaCrp.php" method="POST">
            CRP: <input type="text" name="ccrp" required><br><br>

            <input type="submit" value="Consultar">
            <input type="reset" value="Limpar Campo">
        </form>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade </p>
    </footer>

</body>
</html>