<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Terapeutas</title>
    <link href="links.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div class="box">
        <h1>Gerenciamento de Terapeutas</h1><br>
        <a class="link" href="CadastrarTerapeuta.html"> Cadastrar Terapeuta</a><br>
        <a class="link" href="..\Controller\ConsultarTodosTerapeutas.php"> Consultar Todos Terapeutas</a><br>
        <a class="link" href="..\View\ConsultarTerapeutaCrp.html"> Consultar Terapeuta por CRP</a><br>
        <a class="link" href="..\View\AlterarTerapeuta.html"> Alterar Dados do Terapeuta por CRP</a><br>
        <a class="link" href="..\View\ExcluirTerapeuta.html"> Excluir Terapeuta por CRP</a><br>
        <a class="link" href="..\Index.html"> Voltar ao Inicio</a>
    </div>
    </div>

    <footer>
        <p>Author: Luiz Eduardo Jacó Andrade </p>
    </footer>
    
</body>
</html>